
@{
    ViewBag.Title = "Bienvenido";
}

<h2>
    Bienvenido/a a la evaluación de aprendizaje Nro 2
</h2>


<a href="/Jugadores/ListaJugadores">Administrar Jugadores</a> </br>
<a href="/Goles/ListaGolesJugador">Administrar Goles</a>

